---
layout: page
title: Search
permalink: /search/
order: 3
hide: true
---

<h2>What are you looking for?</h2>

<div class="search">
    <input type="text" id="search-box" class="search-input" placeholder="Type to search..." autofocus>
    <div id="search-results"></div>
    <p id="not-found" style="display: none">
        {{ site.theme_settings.str_search_no_results }}
    </p>
</div>

<script>
  window.store = {
    {% for post in site.posts %}
      "{{ post.url | slugify }}": {
        "title": "{{ post.title | xml_escape }}",
        "tags": "{{ post.tags | join: ', ' }}",
        "date": "{{ post.date | date: '%B %-d, %Y' }}",
        "author": "{{ post.author | xml_escape }}",
        "category": "{{ post.category | xml_escape }}",
        "content": {{ post.content | strip_html | strip_newlines | jsonify }},
        "url": "{{ post.url | relative_url }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
    {% for page in site.pages %}
      {% if page.title and page.url != "/search/" %}
      {% unless forloop.first %},{% endunless %}
      "{{ page.url | slugify }}": {
        "title": "{{ page.title | xml_escape }}",
        "tags": "",
        "date": "",
        "author": "",
        "category": "",
        "content": {{ page.content | strip_html | strip_newlines | jsonify }},
        "url": "{{ page.url | relative_url }}"
      }
      {% endif %}
    {% endfor %}
  };
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.6/lunr.min.js"></script>
<script src="{{ "/assets/js/search.js" | relative_url }}"></script>