#post-nav {
  width:100%;
  border-bottom: 1px solid $border-color;
  float: left;
  text-align: center;
  padding: 0.8rem 0;
  i {
    vertical-align: middle;
  }
  a {
    width: 100%;
    display: inline-block;
    padding: 0;
  }
  p {
    @extend .meta;
    margin-bottom: 0.25rem;
  }
  .post-nav-post + .post-nav-post {
    margin-top: 0.65rem;
  }
}
